abs==0.0.0
aiohttp==3.8.6
aiosignal==1.3.1
aiosqlite==0.19.0
amqp==5.1.1
anyio==3.7.0
asgiref==3.7.2
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.1.0
automium==0.2.6
automium-web==0.1.1
Babel==2.12.1
beautifulsoup4==4.12.2
billiard==4.1.0
black==23.7.0
captcha==0.4
celery==5.3.4
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap4==2022.1
cron-descriptor==1.4.0
cryptography==41.0.1
databases==0.7.0
defusedxml==0.7.1
distlib==0.3.5
Django==4.2.3
django-admin-soft-dashboard==1.0.9
django-allauth==0.54.0
django-appconf==1.0.5
django-avatar==7.1.1
django-celery-beat==2.5.0
django-ckeditor==6.5.1
django-comments-xtd==2.9.9
django-contrib-comments==2.2.0
django-crispy-forms==2.0
django-debug-toolbar==3.2.4
django-environ==0.10.0
django-extensions==3.2.1
django-js-asset==2.0.0
django-money==3.2.0
django-moneyfield==0.2.1
django-mptt==0.14.0
django-ranged-response==0.2.0
django-recaptcha==3.0.0
django-rest-framework==0.1.0
django-simple-captcha==0.5.17
django-simple-history==3.3.0
django-static-jquery==2.1.4
django-taggit==4.0.0
django-taggit-serializer==0.1.7
django-timezone-field==6.0.1
django-wkhtmltopdf==3.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dnspython==2.3.0
docutils==0.20.1
drf-spectacular==0.26.4
environ==1.0
exceptiongroup==1.1.1
execnet==1.9.0
fastapi==0.98.0
fields==5.0.0
filelock==3.7.1
flake8==5.0.4
flake8-annotations==2.9.1
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
Flask==2.2.2
frozenlist==1.4.0
generics==6.0.0
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kombu==5.3.2
legacy==0.1.6
MarkupSafe==2.1.1
mccabe==0.7.0
multidict==6.0.4
mypy-extensions==1.0.0
oauthlib==3.2.2
outcome==1.2.0
packaging==23.1
pathspec==0.11.1
pbr==5.9.0
pdfkit==1.0.0
pep8-naming==0.13.2
phonenumbers==8.13.7
Pillow==9.4.0
platformdirs==3.8.1
pluggy==1.0.0
prompt-toolkit==3.0.39
psycopg2==2.9.6
py==1.11.0
py-moneyed==3.0
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.9
pyflakes==2.5.0
PyJWT==2.7.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==6.2.5
pytest-django==4.5.2
pytest-forked==1.4.0
pytest-xdist==2.5.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0.1
redis==5.0.0
referencing==0.30.2
requests==2.27.1
requests-oauthlib==1.3.1
rpds-py==0.10.2
selenium==4.11.2
six==1.16.0
slugify==0.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.49
sqlparse==0.4.4
starlette==0.27.0
stevedore==4.0.0
tabulate==0.8.10
toml==0.10.2
tomli==2.0.1
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.14
vine==5.0.0
virtualenv==20.16.3
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.6
webdriver-manager==4.0.0
Werkzeug==2.2.2
whitenoise==6.3.0
wkhtmltopdf==0.2
wsproto==1.2.0
yarl==1.9.2
